.profile {
    background-color: rgb(194, 188, 239);
    width: 300px;
    height: 400px;
    margin-top: 10px;
    padding-top: 25px;
    margin-left: 100px;
}

.avatar {
    display: block;
    margin: 0 auto;
}

.name {
text-align: center;
}

.tag {
    text-align: center;
}

.location {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
}

.statsItem {
    display: flex;
    flex-direction: column;
}