.statusDot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    margin: 25px;
  }
  
  .statusDot.online {
    background-color: green;
  }
  
  .statusDot.offline {
    background-color: red;
  }

  .friend-list {
    /* margin: 0 auto; */
    margin-top: 55px;
  }

  .item {
    display: flex;
    margin: 0 330px;
    border: 1px solid tomato;
    width: 340px;
    margin-bottom: 15px;
  }

  /* .avatar {

  } */

  .friendsAvatar {
    margin-right: 55px;
  }