.statusDot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    margin: 25px;
  }
  
  .statusDot.online {
    background-color: green;
  }
  
  .statusDot.offline {
    background-color: red;
  }

  .friendList {
    margin-top: 55px;
    margin-left: -35px;
  }

  .item {
    display: flex;
    margin: 0 auto;
    border: 1px solid tomato;
    width: 340px;
    margin-bottom: 15px;
  }

  .friendsAvatar {
    margin-right: 55px;
  }